* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 8%;
}

/* CSS para centralizar as imagens */
.slider {
  text-align: center;
  position: relative;
}

.slider img {
  display: inline-block;
  vertical-align: middle;
}

/* Estilo personalizado para os pontos */
.slick-dots {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  padding: 0;
  list-style: none;
}

.slick-dots li {
  display: inline-block;
  margin: 0 -2px;

}

/* Estilo personalizado para as setas de navegação */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 1em;
  cursor: pointer;
}

.slick-prev {
  left: 5% !important;
  border-radius: 10px;

}

.slick-next {
  right: 5% !important;
  border-radius: 10px;
}

.card {
  --accent-color: #eca2a2;
  position: relative;
  /* width: 320px; */
  background: white;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 5px 5px 30px 2.5px;
  transition: all 0.5s ease-in-out;
  border: 1px solid gainsboro;
  flex-basis: calc(25% - 20px);
  margin-bottom: 3%;
}

.card .image-container {
  position: relative;
  width: 100%;
  /* height: 200px; */
  border-radius: 0.7rem;
  /* border-top-right-radius: 4rem; */
  margin-bottom: 2%;
}

.card .image-container img {
  width: 100%;
  height: 15.625em;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: inherit;
}

/* .card .image-container .svg {
  height: 2%;
  width: 2%;
  border-radius: inherit;
} */

.card .favorite {
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  top: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
}

.card .favorite input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.card .favorite input:checked~svg {
  animation: bouncing 0.5s;
  fill: rgb(255, 0, 0);
  filter: drop-shadow(0px 3px 1px rgba(53, 53, 53, 0.14));
}

.card .favorite svg {
  fill: #000000;
}

.card .content {
  padding: 0px 0.8rem;
  margin-bottom: 1rem;
}

.card .content .brand {
  font-weight: 900;
  color: #797777;
}

.card .content .product-name {
  font-weight: 700;
  color: #666666;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.card .content .color-size-container {
  display: flex;
  justify-content: space-between;
  text-transform: initial;
  font-size: 0.8rem;
  font-weight: 700;
  color: #949292;
  gap: 2rem;
  margin-top: 0%;
  margin-bottom: 3rem;
}

.card .content .color-size-container>* {
  flex: 1;
}

.card .content .color-size-container .colors .colors-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  font-size: 0.5rem;
  margin-top: 0.2rem;
}

.card .content .color-size-container .colors .colors-container .color {
  height: 14px;
  position: relative;
}

.card .content .color-size-container .colors .colors-container .color:hover .color-name {
  display: block;
}

.card .content .color-size-container .colors .colors-container .color a {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  border: 3px solid black;
  border-radius: 50%;
}

.card .content .color-size-container .colors .colors-container .color .color-name {
  display: none;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  background: black;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  text-align: center;
}

.card .content .color-size-container .colors .colors-container .color:first-child a {
  border-color: #ffd426;
}

.card .content .color-size-container .colors .colors-container .color:nth-child(2) a {
  background: #144076;
}

.card .content .color-size-container .colors .colors-container .color:nth-child(3) a {
  border-color: #00b9ff;
}

.card .content .color-size-container .colors .colors-container .color:nth-child(4) a {
  border-color: #ff6ba1;
}

.card .content .color-size-container .colors .colors-container .active {
  border-color: black;
}

.card .content .color-size-container .sizes .size-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.card .content .color-size-container .sizes .size-container .size {
  height: 14px;
}

.card .content .color-size-container .sizes .size-container .size .size-radio {
  cursor: pointer;
}

.card .content .color-size-container .sizes .size-container .size .size-radio input {
  display: none;
}

.card .content .color-size-container .sizes .size-container .size .size-radio input:checked~.name {
  background: var(--accent-color);
  border-radius: 2rem 2rem 1.5rem 1.5rem;
  color: white;
}

.card .content .color-size-container .sizes .size-container .size .size-radio .name {
  display: grid;
  place-content: center;
  height: 100%;
  aspect-ratio: 1.2/1;
  text-decoration: none;
  color: #484848;
  font-size: 0.5rem;
  text-align: center;
}

.card .content .rating {
  color: #a8a8a8;
  font-size: 0.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.rating {
  justify-content: center;
  position: absolute;
  bottom: 12%; /* Define a distância desejada entre as estrelas e o botão */
  /* left: 20%;: */
  /* right: 0; Ocupa toda a largura do cartão */
}

.card .content .rating svg {
  height: 0.8rem;
}

.card .button-container {
  display: flex;
  gap: 0.3rem;
}

.card .button-container .button {
  border-radius: 0.7rem 1.1rem 0.7rem 1.1rem;
  border: none;
  padding: 0.2rem 0.7px;
  background: var(--accent-color);
  color: white;
  font-weight: 300;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 4% 25%;
}

.card .button-container .button:hover {
  background: rgb(63, 174, 226);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card .button-container .buy-button {
  flex: auto;
}

.card .button-container .cart-button {
  display: grid;
  place-content: center;
  width: 3.125rem;
}

.card .button-container .cart-button svg {
  width: 0.938rem;
  fill: white;
}

.card:hover {
  transform: scale(1.03);
}

@keyframes bouncing {

  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1.5, 2.1);
  }

  50% {
    transform: scale(2.1, 1.5);
  }

  75% {
    transform: scale(1.5, 2.05);
  }
}

@media (max-width: 768px) {
  .card {
    flex-basis: calc(25% - 20px); /* 25% é aproximadamente 100% dividido por 4 (4 cartões por linha) */
  }
}