<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApbXL_ZfIS1K2x_PyS6QZ9hX2cPrQEIhg</string>
	<key>GCM_SENDER_ID</key>
	<string>434029164576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.gerentelojaonlinedc.projectGerenteLojaOnlineDc.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gerentelojaonlinedc</string>
	<key>STORAGE_BUCKET</key>
	<string>gerentelojaonlinedc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434029164576:ios:7fcd4c3e5895d91ca9e445</string>
</dict>
</plist>